body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    overflow: hidden;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
.bottomright {
    position: absolute;
    bottom: -5px;
    right: 16px;
    font-size: 10pt;
    z-index: 1000;
    color: white;
    opacity: 0.5;
  }
  .arcm{
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
