body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    overflow: hidden;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  .content{
    /*background-color: rgba(0, 0, 255, 0.025);*/
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -150px;
    padding-bottom: 60px; /*half of line-height in title*/
    z-index: 1000;
  }
.bottomright {
    position: absolute;
    bottom: -5px;
    right: 16px;
    font-size: 10pt;
    z-index: 1000;
    color: white;
    opacity: 0.5;
  }
  .title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
