body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    background-color: black;
    overflow: hidden;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  .content{
    /*background-color: rgba(0, 0, 255, 0.025);*/
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -150px;
    padding-bottom: 60px; /*half of line-height in title*/
    z-index: 1000;
  }
  .shoutbox {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size:13pt;
    line-height:60px;
    text-align:center;
    color: white;
    height: 35px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    width: 250px;
    border-radius: 3px;
    background-color: rgba(88, 116, 160, 0.125);
  }
  
  .shoutbox a{
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .shoutbox a:hover{
    color: lightgray;
    text-shadow: 0px 0px 1px white;
  }
  
  @keyframes pulsetext {
    50%{
        color: #5877a0;
        text-shadow: #5877a0 1px 1px 6px;
    }
  }
  .shoutbox a:hover {
    animation: pulsetext 1s infinite ease-out;
  }
  
  .lines{
    line-height: 0px;
    font-size: 12pt;
    color: white;
    bottom: 0;
    top: 0;
  }
  
  .bottomright {
    position: absolute;
    bottom: -5px;
    right: 16px;
    font-size: 10pt;
    z-index: 1000;
    color: white;
    opacity: 0.5;
  }
  .title{
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
  .btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.3) inset;
    position: relative;
    opacity: 1.0;
  }
  
  .darkblue{
    background-color:#486aa0;
    color: white;
  }
  .white {
    color: black;
    background-color: white;
  }
  .btn:active {
    -webkit-transform: scale(0.90);
    -moz-transform: scale(0.90);
    -ms-transform: scale(0.90);
    -o-transform: scale(0.90);
    transform: scale(0.90);
    opacity: 0.9;
  }
  
  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  
  .stars, .twinkling{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s; /* Firefox < 16 */
    -ms-animation: fadein 3s; /* Internet Explorer */
    -o-animation: fadein 3s; /* Opera < 12.1 */
    animation: fadein 3s;
  }
  
  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  .stars {
    background:#000 url(background.jpg) repeat top center;
    z-index:2;
  }
  
  .twinkling{
    background:transparent url(twinkling.png) repeat top center;
    z-index:3;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }